body{
    min-width: 100vh;
    margin: 0;
    background: linear-gradient(90deg ,rgb(51, 153, 255),rgb(89, 199, 181),rgb(89, 199, 181),rgb(51, 153, 255));
}
h1{
    font-family: 'Lobster', cursive;
    text-shadow: -0.1em 0em 0.1em #F8F8FF;
    font-size: 90px;
}
p{
    font-family: 'Dancing Script', cursive;
    text-shadow: 0em 0em 0.1em #ffffff;
    font-size: 63px;
    color: white;
    position: static;
}
div, a{
    font-size: 45px;
    margin-top: 0.5%;
    color: white;
    text-shadow: 0em 0em 0.1em #ffffff;
    text-decoration: none;
}/*animate__pulse*/