body{
    min-width: 100vh;
    margin: 0;
    background: linear-gradient(90deg ,rgb(51, 153, 255),rgb(89, 199, 181),rgb(89, 199, 181),rgb(51, 153, 255));
}
h1{
    font-family: 'Lobster', cursive;
    text-shadow: -0.1em 0em 0.1em #F8F8FF;
    font-size: 70px;

}
div, a{
    font-size: 250%;
    margin-top: 005%;
    color: white;
    text-shadow: 0em 0em 0.1em #ffffff;
    text-decoration: none;
}